


<div class="headline">
    <div class="container">
        <span class="big"><strong>Confirmation</strong></span>
    </div>
</div>

<div class="container">

    <div class="col-md-8">
        <!----------------->
        <div class="row boxes">
            <div class="container">
                <div class="row">
                    <h4><strong>Contact Information</strong></h4>
                    <hr>
                </div>
            </div>

            <form role="form">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="bussinessName">Business Name:</label>
                        <input type="text" class="form-control" id="bname">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="bussinessName">First Name:</label>
                        <input type="text" class="form-control" id="bname">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="bussinessName">Last Name:</label>
                        <input type="text" class="form-control" id="bname">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="bussinessName">Contact Number:</label>
                        <input type="text" class="form-control" id="bname">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="bussinessName">Address line 1:</label>
                        <input type="text" class="form-control" id="bname">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="bussinessName">Address line 2:</label>
                        <input type="text" class="form-control" id="bname">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="bussinessName">City</label>
                        <input type="text" class="form-control" id="bname">
                    </div>

                    <div class="col-md-3 form-group">
                        <label>State:</label>
                        <select class="form-control" id="sel1">
                            <option>Select State</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="bussinessName">Pin Code</label>
                        <input type="text" class="form-control" id="bname">
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="row">
                        <h4><strong>Payment Information </strong></h4>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default"><i class="fa fa-credit-card"></i> <strong>Credit Card</strong></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-credit-card"></i> <strong>Debit Card</strong></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-university"></i> <strong>Net Banking</strong></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-money"></i> <strong>Cash</strong></button>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="col-md-12">Credit Card Type</div>

                        <div class="col-md-12">
                            <div class="form group">
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" style="margin-top:16px;"> <img src="/app/images/icons/visa.png" />
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" style="margin-top:16px;"> <img src="/app/images/icons/master.png" />
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" style="margin-top:16px;"> <img src="/app/images/icons/am-express.png" />
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="bussinessName">Address line 1:</label>
                                <input type="text" class="form-control" id="bname">
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="bussinessName">Address line 2:</label>
                                <input type="text" class="form-control" id="bname">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="text" class="form-control" placeholder="Expiry date"/>
                                    <span class="input-group-addon">
                                            <i class="fa fa-calendar-o"></i>
                                        </span>
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <input type="text" class="form-control" id="cvv" placeholder="CVV #">
                            </div>
                            <div class="col-md-3" style="padding-top:6px;"><a href="#">What is this?</a></div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <h4><strong>Payment Information </strong></h4>
                        <hr>
                    </div>
                    <div class="col-md-5 form-group">
                        <label for="promotionCode">Promotion Code</label>
                        <input type="text" class="form-control" id="pcode">
                    </div>
                    <div class="col-md-5 form-group">
                        <button class="btn btn-primary" style="margin-top:25px;">Apply</button>
                    </div>
                    <div class="col-md-12"><hr></div>

                    <div class="col-md-12" align="right">
                        <button class="btn btn-success">RESERVE QUOTE</button>
                        <button class="btn btn-success">PAY NOW</button>
                    </div>
                </div>

            </form>

        </div>
        <!------ ///// ------>


    </div> <!-- /col-md-9 -->

    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="row boxes">
                    <h4><strong>Trip Summary</strong></h4>
                    <hr>
                    <h4 class="blue"><strong>Ahmedabad to Delhi:</strong></h4>
                    <p>05/05/2015 — 15/05/2014</p>
                    <hr>
                    <div class="col-md-6">Bus Type:</div>
                    <div class="col-md-6" align="right">Volvo Deluxe</div>

                    <div class="col-md-6">Total Bus:</div>
                    <div class="col-md-6" align="right">3</div>

                    <div class="col-md-7">Promotions and Discouts:</div>
                    <div class="col-md-5" align="right">200.00</div>

                    <div class="col-md-12"><hr></div>

                    <div class="col-md-7">Total Quoted Price:</div>
                    <div class="col-md-5 green big" align="right">29400.00</div>

                    <div class="col-md-12"><hr></div>

                    <div class="col-md-7">Booking Amount (10%):</div>
                    <div class="col-md-5 green big" align="right">2940.00</div>
                </div>

                <div class="row boxes">
                    <h4><strong>Need Help?</strong></h4>
                    <hr>
                    <p>We would be more than happy ro help you. Our team advisor are always ready at your service to help you. </p>
                    <h4 class="blue"><i class="fa fa-phone"></i> <span>800-SUREBUS</span></h4>
                    <h4 class="blue"><i class="fa fa-envelope"></i> <span>help@surebus.in</span></h4>
                </div>


            </div>
        </div>
    </div>

</div> <!-- /container -->


