<footer>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="ftr-title">
                        <h2>a little about us</h2>
                        <p>
                            JKM Travels is one of the fastest growing leader in providing transportation solutions to corporates, colleges and schools. One stop solution for all transportation requirements.
                        </p>
                        <p>
                            Always ready to serve and impress you with our quality service.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-title">
                        <h2>services</h2>
                        <p>
                            Transportation for Corporates and Organizations
                        </p>
                        <p>
                            Buses for Schools and Colleges
                        </p>
                        <p>
                            Tour transportation
                        </p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="ftr-title">
                        <h2>tags</h2>
                        <p>
                            local toursDelhi Tours affordable bus service in Delhi NCR. transportationCollege school transportation in Delhi NCR. Famous Agra bus tours. Golden triangle tour. Delhi Tour Package
                        </p>
                    </div>
                </div>
                <div class="col-md-3 ftr">
                    <div class="ftr-title">
                        <h2>get in touch</h2>
                    </div>
                    <div class="ftr-call">
                        <span>Call us at<a href="tel:+91 9312850524"> +91 9312850524</a></span>
                    </div>
                    <div class="ftr-location">
                        <p>delhi, india</p>
                    </div>
                    <div class="ftr-mail">
                        <a href="mail-to:info@jkmtravels.com">info@jkmtravels.com</a>
                    </div>
                    <div class="ftr-call2">
                        <a href="tel:+91 9312850524">+91 9312850524</a>
                    </div>
                    <div class="social-icon">
                        <ul>
                            <li>
                                <a href="#" class="fb"></a>
                            </li>
                            <li>
                                <a href="#" class="in"></a>
                            </li>
                            <li>
                                <a href="#" class="rss"></a>
                            </li>
                            <li>
                                <a href="#" class="twt"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer_bottom_left">
                        <p>&copy;2015  JKM Travels Private Ltd. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!--
<footer class="footer">
    <div class="container-fluid">
        <p class="text-muted">&copy; 2017 JKMTravels.com</p>
    </div>
</footer>-->
